.head {
    width: 100vw;
    background-color: black;
    height: 10vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.head a {
    text-decoration: none;
    color: white;
    font-size: 30px;
    font-weight: 900;
}
.head a:hover{
    text-decoration: underline;
}
p{
    font-size: 50px;
}